/* Write your CSS here */
.cont {
  background-color: white;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.inside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputSpace {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #475569;
  color: #1e293b;
  font-weight: bold;
}

.para {
  color: #475569;
  font-weight: 600;
}
.button {
  background-color: #0284c7;
  width: 120px;
  height: 30px;
  border-width: 0px;
  border-radius: 5px;
  color: white;
}
.line {
  width: 100vw;
}

.countBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 12vw;
  padding: 5px;
}
.countStyle {
  background-color: #0284c7;
  color: white;
  width: 20px;
  border-radius: 4px;
  padding: 5px;
  font-weight: 600;
}

.countPara {
  color: #475569;
  font-weight: 600;
  padding: 5px;
}
