.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.profile {
  height: 28px;
  width: 28px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: 400;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.itemBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}
.head {
  font-size: 16px;
  color: #1e293b;
}

.time {
  color: #94a3b8;
  font-size: 16px;
}

.totalCont {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 10px;
}
.mixedCont {
  display: flex;
  flex-direction: row;
}
.btnStyle {
  background-color: transparent;
  border-width: 0px;
  outline: none;
}
